html,body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.collapse\ navbar-collapse{
    color: white;
}

.nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.contact{
    background-color: grey;
}